{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Клиентский протокол интеграции с логистикой",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.cdek.ru",
    "description" : "Рабочая среда"
  }, {
    "url" : "https://api.edu.cdek.ru",
    "description" : "Тестовая среда"
  } ],
  "tags" : [ {
    "name" : "common",
    "description" : "# Введение\n\nПортал документации CDEK API предоставляет разработчикам и партнёрам компании СДЭК доступ к подробной информации и инструментам для интеграции с логистической платформой.",
    "x-displayName" : "Общая информация"
  }, {
    "name" : "auth",
    "description" : "API для получения токена авторизации",
    "x-displayName" : "Авторизация в сервисе"
  }, {
    "name" : "location",
    "description" : "API для работы с локациями",
    "x-displayName" : "Получение списка локаций"
  }, {
    "name" : "delivery_point",
    "description" : "API для работы с офисами",
    "x-displayName" : "Офисы",
    "x-sortOrder" : 1
  }, {
    "name" : "calculator",
    "description" : "API для работы с калькулятором",
    "x-displayName" : "Расчет стоимости доставки",
    "x-sortOrder" : 2
  }, {
    "name" : "restriction_hints",
    "description" : "API для проверки ограничений по международным заказам",
    "x-displayName" : "Ограничения международных заказов",
    "x-sortOrder" : 3
  }, {
    "name" : "order",
    "description" : "![Image](https://public-static.cdek.ru/apidoc/logistic/api-order.png)",
    "x-displayName" : "Заказ",
    "x-sortOrder" : 4
  }, {
    "name" : "schedule",
    "description" : "![Image](https://public-static.cdek.ru/apidoc/logistic/api-schedule.png)",
    "x-displayName" : "Договоренность о доставке",
    "x-sortOrder" : 5
  }, {
    "name" : "intake",
    "description" : "![Image](https://public-static.cdek.ru/apidoc/logistic/api-intake.png)",
    "x-displayName" : "Заявка на вызов курьера",
    "x-sortOrder" : 6
  }, {
    "name" : "prealert",
    "description" : "API для работы с преалертами",
    "x-displayName" : "Преалерт",
    "x-sortOrder" : 7
  }, {
    "name" : "print",
    "description" : "![Image](https://public-static.cdek.ru/apidoc/logistic/api-print-1.png) ![Image](https://public-static.cdek.ru/apidoc/logistic/api-print-2.png)",
    "x-displayName" : "Печатная форма накладной и ШК",
    "x-sortOrder" : 8
  }, {
    "name" : "registries",
    "description" : "Информация о реестрах наложенных платежей",
    "x-displayName" : "Наложенные платежи",
    "x-sortOrder" : 9
  }, {
    "name" : "passport",
    "description" : "API получения инфо о паспортных данных",
    "x-displayName" : "Паспортные данные",
    "x-sortOrder" : 10
  }, {
    "name" : "receipt",
    "description" : "API протокола для работы с чеками",
    "x-displayName" : "Чеки",
    "x-sortOrder" : 11
  }, {
    "name" : "reverse",
    "description" : "API для работы с реверсом",
    "x-displayName" : "Реверс",
    "x-sortOrder" : 12
  }, {
    "name" : "photo",
    "description" : "API для получения фото",
    "x-displayName" : "Фото документов",
    "x-sortOrder" : 13
  }, {
    "name" : "webhook",
    "description" : "API для работы с вебхуками. <br>Подробное описание структуры вебхуков содержится в разделе Общая информация. Описание структуры вебхуков. ![Image](https://public-static.cdek.ru/apidoc/logistic/api-wbhk.png)",
    "x-displayName" : "Вебхуки"
  } ],
  "paths" : {
    "/v2/oauth/token" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Получение токена авторизации",
        "description" : "Взаимодействие с сервисом требует клиентской авторизации. Авторизация обеспечивается с применением протокола OAuth 2.0. Метод предназначен для получения токена авторизации.",
        "operationId" : "getOAuthToken",
        "parameters" : [ {
          "name" : "grant_type",
          "in" : "query",
          "description" : "Тип аутентификации. Доступное значение: client_credentials",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "client_credentials"
        }, {
          "name" : "client_id",
          "in" : "query",
          "description" : "Идентификатор клиента",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "skhfkjdh65874jkhhdfk8598"
        }, {
          "name" : "client_secret",
          "in" : "query",
          "description" : "Секретный ключ клиента",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "snckdshfkj47jksfnhjshdvcshj"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDto"
                }
              }
            }
          }
        }
      }
    },
    "/v2/location/suggest/cities" : {
      "get" : {
        "tags" : [ "location" ],
        "summary" : "Подбор локации по названию города",
        "description" : "Метод позволяет получать подсказки по подбору населенного пункта по его наименованию.<br>\n Список населенных пунктов может быть ограничен характеристиками, задаваемыми пользователем.",
        "operationId" : "suggestCities",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "Наименование населенного пункта СДЭК",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "Москва"
        }, {
          "name" : "country_code",
          "in" : "query",
          "description" : "Код страны в формате ISO_3166-1_alpha-2",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "RU"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuggestCityResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/location/regions" : {
      "get" : {
        "tags" : [ "location" ],
        "summary" : "Получение списка регионов",
        "description" : "Метод предназначен для получения детальной информации о регионах. <br>\nСписок регионов может быть ограничен характеристиками, задаваемыми пользователем.",
        "operationId" : "regions",
        "parameters" : [ {
          "name" : "country_codes",
          "in" : "query",
          "description" : "Список кодов стран в формате ISO_3166-1_alpha-2",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "[RU, EN]"
        }, {
          "name" : "fias_region_guid",
          "in" : "query",
          "description" : "Уникальный идентификатор ФИАС региона. Устаревшее поле - значения могут быть не актуальны",
          "required" : false,
          "deprecated" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "nullable" : false
          },
          "example" : "dd71e526-d850-46db-97db-164391414c5b"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Ограничение выборки результата. По умолчанию 1000. Обязателен, если указан page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : false
          },
          "example" : 15
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Номер страницы выборки результата. По умолчанию 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : false
          },
          "example" : 5
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Локализация. По умолчанию rus (доступны eng и zho)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "RU"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegionsResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/location/postalcodes" : {
      "get" : {
        "tags" : [ "location" ],
        "summary" : "Получение почтовых индексов города",
        "description" : "Метод предназначен для получения списка почтовых индексов.",
        "operationId" : "postalcodes",
        "parameters" : [ {
          "name" : "code",
          "in" : "query",
          "description" : "Код города, которому принадлежат почтовые индексы",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : false
          },
          "example" : 44
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostcodesResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/location/coordinates" : {
      "get" : {
        "tags" : [ "location" ],
        "summary" : "Получение локации по координатам",
        "description" : "Метод позволяет определить локацию по переданным в запросе координатам",
        "operationId" : "getCityByCoordinates",
        "parameters" : [ {
          "name" : "latitude",
          "in" : "query",
          "description" : "Широта",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "nullable" : false
          },
          "example" : 44.7594235
        }, {
          "name" : "longitude",
          "in" : "query",
          "description" : "Долгота",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "nullable" : false
          },
          "example" : 55.7594235
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/V2LocationCityByCoordinatesDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/location/cities" : {
      "get" : {
        "tags" : [ "location" ],
        "summary" : "Получение списка населенных пунктов",
        "description" : "Метод предназначен для получения детальной информации о населенных пунктах.<br>\n Список населенных пунктов может быть ограничен характеристиками, задаваемыми пользователем.",
        "operationId" : "cities",
        "parameters" : [ {
          "name" : "country_codes",
          "in" : "query",
          "description" : "Массив кодов стран в формате ISO_3166-1_alpha-2",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "[RU, EN]"
        }, {
          "name" : "region_code",
          "in" : "query",
          "description" : "Код региона (справочник СДЭК)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : false
          },
          "example" : 152
        }, {
          "name" : "fias_region_guid",
          "in" : "query",
          "description" : "Уникальный идентификатор ФИАС региона. Устаревшее поле - значения могут быть не актуальны",
          "required" : false,
          "deprecated" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "nullable" : false
          },
          "example" : "dd71e526-d850-46db-97db-164391414c5b"
        }, {
          "name" : "kladr_code",
          "in" : "query",
          "description" : "Код КЛАДР населенного пункта",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : 152
        }, {
          "name" : "fias_guid",
          "in" : "query",
          "description" : "Уникальный идентификатор ФИАС населенного пункта",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "nullable" : false
          },
          "example" : "dd71e526-d850-46db-97db-164391414c5b"
        }, {
          "name" : "postal_code",
          "in" : "query",
          "description" : "Почтовый индекс",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : 630055
        }, {
          "name" : "code",
          "in" : "query",
          "description" : "Код населенного пункта СДЭК",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : false
          },
          "example" : 147
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "Название населенного пункта. Должно соответствовать полностью",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "Москва"
        }, {
          "name" : "payment_limit",
          "in" : "query",
          "description" : "Ограничение на сумму наложенного платежа. Особые значения: -1 - ограничения нет; 0 - наложенный платеж не принимается;",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double",
            "nullable" : false
          },
          "example" : 127.682
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Ограничение выборки результата. По умолчанию 1000. Обязателен, если указан page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : false
          },
          "example" : 15
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Номер страницы выборки результата. По умолчанию 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "nullable" : false
          },
          "example" : 5
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Язык локализации ответа",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "nullable" : false
          },
          "example" : "RU"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/V2LocationCityDto"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/print/orders" : {
      "post" : {
        "tags" : [ "print" ],
        "summary" : "Формирование квитанции к заказу",
        "description" : "Метод используется для формирования квитанции в формате pdf к заказу/заказам.<br>\nВо избежание перегрузки платформы нельзя передавать более 100 номеров заказов в одном запросе.",
        "operationId" : "waybillPrint",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WaybillRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaybillPrintResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 1
      }
    },
    "/v2/prealert" : {
      "post" : {
        "tags" : [ "prealert" ],
        "summary" : "Регистрация преалерта",
        "description" : "Метод предназначен для регистрации преалерта (реестра заказов, которые клиент собирается передать на склад СДЭК для дальнейшей доставки) - информирования со стороны интернет-магазина (далее ИМ) о желании передать некоторое количество заказов в СДЭК, чтобы к этому моменту принимающий офис подготовил необходимые документы. \nПреалерт нужен, только если ИМ собирается передавать большое количество заказов одновременно. Для работы с преалертом необходимо, чтобы услуга \"Преалерт\" была подключена по договору. По этому вопросу необходимо обратиться напрямую к закрепленному менеджеру или в закрепленный офис СДЭК (с кем подписывался договор).<br>\nПреалерт не связан с заявкой на вызов курьера.",
        "operationId" : "register",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterPrealertRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisterPrealertResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 1
      }
    },
    "/v2/orders" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Получение информации о заказе по номеру СДЭК/ИМ",
        "description" : "Метод предоставляет возможность получить детальную информацию о ранее созданном заказе по номеру СДЭК/ИМ заказа. В ответе содержатся данные о статусе заказа, деталях доставки и информации о получателе.<br>\nЕсть возможность получить информацию, в том числе о заказах, которые были созданы через другие каналы (личный кабинет, вручную менеджером и др.), но только по тем, которые были созданы после первой авторизации по ключам интеграции.",
        "operationId" : "getOrders",
        "parameters" : [ {
          "name" : "cdek_number",
          "in" : "query",
          "description" : "Номер заказа СДЭК, по которому необходима информация",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "int64"
          }
        }, {
          "name" : "im_number",
          "in" : "query",
          "description" : "Номер заказа в ИС Клиента, по которому необходима информация",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoOrderResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 1
      },
      "post" : {
        "tags" : [ "order" ],
        "summary" : "Регистрация заказа",
        "description" : "Метод предназначен для создания в ИС СДЭК заказа на доставку товаров до покупателей. В запросе передается информация об отправителе, получателе, параметрах доставки и содержимом отправления. В ответе возвращается уникальный идентификатор заказа и текущий статус запроса*. <br>\nВыделяется 2 типа заказов: <br>\n“интернет-магазин” - может быть только у клиента с типом договора “Интернет-магазин”; <br>\n“доставка” может быть создан любым клиентом с договором (но доступны тарифы только для обычной доставки).<br>\n\n*Метод работает асинхронно. Статус \"ACCEPTED\" в ответе на запрос не гарантирует, что заказ создан в ИС СДЭК. Этот статус относится к запросу (запрос успешно принят) и говорит о том, что запрос прошел первичные валидации и структурно составлен корректно. Далее запрос проходит остальные валидации, результат можно получить с помощью методов получения информации о заказе. Статус запроса \"SUCCESSFUL\" - сущность успешно создана в системе, статус \"INVALID\" - при создании возникла ошибка, необходимо её исправить и повторно отправить запрос на регистрацию заказа.",
        "operationId" : "createOrder",
        "parameters" : [ {
          "name" : "developer-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderCreateRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 1
      },
      "patch" : {
        "tags" : [ "order" ],
        "summary" : "Изменение заказа",
        "description" : "Метод используется для изменения созданного ранее заказа.<br>\nУсловием возможности изменения заказа является отсутствие движения груза на складе СДЭК (т.е. статус заказа «Создан»).",
        "operationId" : "update",
        "parameters" : [ {
          "name" : "developer-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderUpdateRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 1
      }
    },
    "/v2/intakes/availableDays" : {
      "post" : {
        "tags" : [ "intake" ],
        "summary" : "Получение дат вызова курьера для НП",
        "description" : "Метод позволяет получить доступные даты для забора груза курьером со склада интернет-магазина для населенного пункта, в котором находится склад. В методе не предусмотрены валидации по часовому поясу пользователя, совершившего запрос (не учитываются графики работы офисов, которые осуществляют забор груза из данного города), так как метод является информационным и оперирует только диапазонами дат, в которые возможен забор груза в населенном пункте.",
        "operationId" : "getAvailableDays",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntakeAvailableDaysRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntakeAvailableDaysResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 1
      }
    },
    "/v2/intakes" : {
      "post" : {
        "tags" : [ "intake" ],
        "summary" : "Регистрация заявки на вызов курьера",
        "description" : "Метод позволяет осуществить вызов курьера для забора груза со склада интернет-магазина с последующей доставкой до склада СДЭК. Рекомендуемый минимальный диапазон времени для приезда курьера не менее 3-х часов. В теле запроса передаются данные об адресе отправителя, контактном лице, дате и интервале времени забора, количестве и характеристиках мест отправления. В ответе возвращается уникальный идентификатор заявки и текущий статус запроса*.<br>\n\n*Метод работает асинхронно. Статус \"ACCEPTED\" в ответе на запрос не гарантирует, что заявка создана в ИС СДЭК. Этот статус относится к запросу (запрос успешно принят) и говорит о том, что запрос прошел первичные валидации и структурно составлен корректно. Далее запрос проходит остальные валидации, результат можно получить с помощью метода получения информации о заявке. Статус запроса \"SUCCESSFUL\" - сущность успешно создана в системе, статус \"INVALID\" - при создании возникла ошибка, необходимо её исправить и повторно отправить запрос на регистрацию заявки на вызов курьера.",
        "operationId" : "createIntake",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntakeDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 2
      },
      "patch" : {
        "tags" : [ "intake" ],
        "summary" : "Изменение статуса заявки на вызов курьера",
        "description" : "Метод позволяет изменить статус по действующей заявке на вызов курьера на \"Требует обработки\" с передачей дополнительных статусов, если по заявке требуются дополнительные операции, такие как прозвон или предоставление документов. \n Перейти в статус \"Требует обработки\" могут заявки, которые имеют текущий статус Требует обработки/Готова к назначению/Назначен курьер.",
        "operationId" : "changeStatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntakeChangeStatusDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntakeChangeStatusResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 4
      }
    },
    "/v2/print/orders/{uuid}" : {
      "get" : {
        "tags" : [ "print" ],
        "summary" : "Получение квитанции к заказу",
        "description" : "Метод используется для получения ссылки на квитанцию в формате pdf к заказу/заказам.<br>\nСсылка на файл с квитанцией к заказу/заказам доступна в течение 1 часа.<br>\n<br>\nВ ответе метода возвращается набор статусов entity->statuses. Их значения могут быть следующими\n| Код       | Название статуса    | Комментарий  |\n|-----------|---------------------|--------------|\n| ACCEPTED  | Принят              | Запрос на формирование квитанции принят |\n| INVALID   | Некорректный запрос | Некорректный запрос на формирование квитанции |\n| PROCESSING| Формируется         | Файл с квитанцией формируется |\n| READY     | Сформирован         | Файл с квитанцией и ссылка на скачивание файла сформированы|\n| REMOVED   | Удален\t             | Истекло время жизни ссылки на скачивание файла с квитанцией|",
        "operationId" : "waybillGet",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaybillGetResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 2
      }
    },
    "/v2/prealert/{uuid}" : {
      "get" : {
        "tags" : [ "prealert" ],
        "summary" : "Получение информации о преалерте",
        "description" : "Метод предназначен для получения информации по заданному преалерту",
        "operationId" : "getPrealert",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор преалерта в ИС СДЭК, по которому необходима информация",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPrealertResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 2
      }
    },
    "/v2/orders/{uuid}" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Получение информации о заказе по UUID",
        "description" : "Метод предоставляет возможность получить детальную информацию о ранее созданном заказе по его идентификатору. В ответе содержатся данные о статусе заказа, деталях доставки и информации о получателе.<br>\nЕсть возможность получить информацию, в том числе о заказах, которые были созданы через другие каналы (личный кабинет, вручную менеджером и др.), но только по тем, которые были созданы после первой авторизации по ключам интеграции.",
        "operationId" : "getOrder",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор заказа в ИС СДЭК, по которому необходима информация",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoOrderResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 2
      },
      "delete" : {
        "tags" : [ "order" ],
        "summary" : "Удаление заказа",
        "description" : "С помощью этого метода можно удалить ранее созданный заказ из системы CDEK. В запросе указывается идентификатор заказа, который необходимо удалить. В ответе возвращается подтверждение успешного удаления или информация об ошибке, если удаление невозможно.<br>\nУсловием возможности удаления заказа является отсутствие движения груза на складе СДЭК (статус заказа «Создан»).",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор заказа в ИС СДЭК, который необходимо удалить",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 2
      }
    },
    "/v2/delivery/intervals" : {
      "get" : {
        "tags" : [ "schedule" ],
        "summary" : "Получение интервалов доставки",
        "description" : "Метод используется для получения доступных интервалов доставки по номеру/идентификатору уже созданного заказа. Позволяет узнать о свободных датах и временных интервалах, определенных в ИС СДЭК, для регистрации договоренности о доставке заказа покупателю.",
        "operationId" : "getIntervals",
        "parameters" : [ {
          "name" : "cdek_number",
          "in" : "query",
          "description" : "Номер заказа",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : 1000014101
        }, {
          "name" : "order_uuid",
          "in" : "query",
          "description" : "Идентификатор заказа",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : "72753031-e66b-4146-ab8c-52179ef4020a"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailableDeliveryIntervalsResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 2
      }
    },
    "/v2/delivery" : {
      "post" : {
        "tags" : [ "schedule" ],
        "summary" : "Регистрация договоренности о доставке",
        "description" : "В зависимости от типа договоренности, метод позволяет фиксировать оговоренные с клиентом дату и время доставки (приезда курьера), а также изменять адрес доставки. В ответе возвращается уникальный идентификатор договоренности и текущий статус запроса*. \nДоговоренность \"до двери\" позволяет изменить по запросу клиента адрес, дату и время доставки. \nДоговоренность \"до склада\" позволяет изменить по запросу клиента адрес ПВЗ, куда будет доставлен груз. \n\n*Метод работает асинхронно. Статус \"ACCEPTED\" в ответе на запрос не гарантирует, что договоренность создана в ИС СДЭК. Этот статус относится к запросу (запрос успешно принят) и говорит о том, что запрос прошел первичные валидации и структурно составлен корректно. Далее запрос проходит остальные валидации, результат можно получить с помощью метода получения информации о договоренности. Статус запроса \"SUCCESSFUL\" - сущность успешно создана в системе, статус \"INVALID\" - при создании возникла ошибка, необходимо её исправить и повторно отправить запрос на регистрацию договоренности о доставке.",
        "operationId" : "createDelivery",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScheduleDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 3
      }
    },
    "/v2/print/orders/{uuid}.pdf" : {
      "get" : {
        "tags" : [ "print" ],
        "summary" : "Скачивание готовой квитанции",
        "description" : "Скачивание квитанции в формате pdf к заказу/заказам.",
        "operationId" : "waybillDownload",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "format" : "byte"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 3
      }
    },
    "/v2/orders/{orderUuid}/intakes" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Получение информации о всех заявках по заказу",
        "description" : "Метод предназначен для получения информации о всех созданных заявках на вызов курьера по идентификатору заказа.",
        "operationId" : "getIntakes",
        "parameters" : [ {
          "name" : "orderUuid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "format" : "uuid"
          }
        }, {
          "name" : "uuid",
          "in" : "query",
          "description" : "Идентификатор заказа в ИС СДЭК, по всем заявкам которого нужно получить информацию",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/IntakeInfoResponseEntity"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 3
      }
    },
    "/v2/intakes/{uuid}" : {
      "get" : {
        "tags" : [ "intake" ],
        "summary" : "Получение информации о заявке по UUID",
        "description" : "Метод предназначен для получения информации по UUID заявки.",
        "operationId" : "getByUuid",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор заявки в ИС СДЭК, по которому необходима информация",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntakeInfoDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 3
      },
      "delete" : {
        "tags" : [ "intake" ],
        "summary" : "Удаление заявки",
        "description" : "Метод предназначен для удаления заявки на вызов курьера.<br>\nЗаявку через интеграцию можно удалить в любом статусе, отличном от финального.",
        "operationId" : "deleteByUuid",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор заявки в ИС СДЭК, которую необходимо удалить",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 5
      }
    },
    "/v2/print/barcodes" : {
      "post" : {
        "tags" : [ "print" ],
        "summary" : "Формирование ШК места к заказу",
        "description" : "Метод используется для формирования ШК места в формате pdf к заказу/заказам.<br>\nВо избежание перегрузки платформы нельзя передавать более 100 номеров заказов в одном запросе.",
        "operationId" : "barcodePrint",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BarcodeRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarcodePrintResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 4
      }
    },
    "/v2/orders/{uuid}/refusal" : {
      "post" : {
        "tags" : [ "order" ],
        "summary" : "Регистрация отказа",
        "description" : "Метод предназначен для регистрации отказа по заказу и дальнейшего возврата данного заказа в интернет-магазин.<br>После успешной регистрации отказа статус заказа переходит в \"Не вручен\" (код NOT_DELIVERED) с дополнительным статусом \"Возврат, отказ от получения: Без объяснения\" (код 11). Заказ может быть отменен в любом статусе*, пока не установлен статус \"Вручен\" или \"Не вручен\".<br>* Не рекомендуется использовать метод для заказов, которые находятся в статусе \"Создан\" и не планируются к отгрузке на склады СДЭК. В случае применения метода отказа для заказов, находящихся в статусе \"Создан\", по ним будут начислены операции и заказы будут включены в Акт оказанных услуг. Для отмены заказа в статусе \"Создан\" воспользуйтесь методом \"Удаление заказа\".",
        "operationId" : "refuse",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор заказа в ИС СДЭК, по которому необходимо зарегистрировать отказ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 4
      }
    },
    "/v2/delivery/{uuid}" : {
      "get" : {
        "tags" : [ "schedule" ],
        "summary" : "Получение информации о договоренности о доставке",
        "description" : "Метод используется для получения информации об оговоренных с клиентом дате и времени доставки (приезда курьера), а так же возможном новом адресе доставки.",
        "operationId" : "getDelivery",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор договоренности о доставке в ИС СДЭК",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoScheduleInfoDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 4
      }
    },
    "/v2/orders/{uuid}/clientReturn" : {
      "post" : {
        "tags" : [ "order" ],
        "summary" : "Регистрация клиентского возврата",
        "description" : "Метод предназначен для оформления клиентских возвратов для интернет-магазинов.<br>\nКлиентский возврат — это возврат, который оформляет сам клиент уже после получения (вручения) заказа (создается только для заказов интернет-магазина в конечном статусе \"Вручен\").<br>\nОтличие от обычного возврата в конечном статусе прямого заказа: у клиентских возвратов конечный статус \"вручен\" и возврат оформляет сам клиент, у обычных возвратов, конечный статус \"Не вручен\" и возврат оформляется СДЭКом. Для частично врученных заказов можно оформить и клиентский возврат и обычный возврат. \nКлиентский возврат связывается с прямым заказом СДЭК. Если прямая доставка осуществлялась не СДЭК, для создания обратного заказа необходимо использовать метод \"Регистрация заказа\" - если заказ оформляется как клиентский возврат, необходимо в запросе на регистрацию передать поле is_client_return = true.",
        "operationId" : "clientReturn",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор прямого заказа в ИС СДЭК, по которому необходимо зарегистрировать клиентский возврат",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateClientReturnRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoRootEntityDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 5
      }
    },
    "/v2/print/barcodes/{uuid}" : {
      "get" : {
        "tags" : [ "print" ],
        "summary" : "Получение ШК места к заказу",
        "description" : "Метод используется для получения ШК места в формате pdf к заказу/заказам.\nСсылка на файл с ШК местом к заказу/заказам доступна в течение 1 часа.\n\nВ ответе метода возвращается набор статусов entity->statuses. Их значения могут быть следующими\n| Код       | Название статуса    | Комментарий |\n|-----------|---------------------|-------------|\n| ACCEPTED  | Принят              | Запрос на формирование квитанции принят |\n| INVALID   | Некорректный запрос | Некорректный запрос на формирование квитанции |\n| PROCESSING| Формируется         | Файл с квитанцией формируется |\n| READY     | Сформирован         | Файл с квитанцией и ссылка на скачивание файла сформированы|\n| REMOVED   | Удален\t             | Истекло время жизни ссылки на скачивание файла с квитанцией|",
        "operationId" : "barcodeGet",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarcodeGetResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 5
      }
    },
    "/v2/print/barcodes/{uuid}.pdf" : {
      "get" : {
        "tags" : [ "print" ],
        "summary" : "Скачивание готового ШК",
        "description" : "Скачивание ШК места в формате pdf к заказу/заказам",
        "operationId" : "barcodeDownload",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "format" : "byte"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "x-methodSortOrder" : 6
      }
    },
    "/v2/reverse/availability" : {
      "post" : {
        "tags" : [ "reverse" ],
        "summary" : "Проверка доступности реверса",
        "description" : "Метод позволяет проверить доступность реверса до создания прямого заказа. Для выполнения проверки необходимо передать в запросе данные, аналогичные тем, которые будут использоваться при создании заказа, включая направление, данные отправителя и получателя, офис отправки/доставки и выбранный тариф. \nЕсли реверс доступен, API вернёт пустой ответ с кодом 200. В случае недоступности услуги или при наличии ошибок в запросе, в ответе будет возвращено сообщение об ошибке с соответствующим описанием.",
        "operationId" : "checkAvailability",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReverseValidateRequestDto"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/photoDocument" : {
      "post" : {
        "tags" : [ "photo" ],
        "summary" : "Получение заказов с готовыми фото",
        "description" : "Метод используется для получения перечня заказов с ссылками на готовые к скачиванию архивы с фото. В запросе необходимо передать либо период, за который необходимо вернуть перечень заказов, либо список заказов. Если переданы и период, и список заказов, то период игнорируется.<br>\nДля корректной работы метода, для договора должна быть подключена фотоуслуга, а также настроен фотопроект.",
        "operationId" : "getReadyOrders",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PhotoRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PhotoResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/international/package/restrictions" : {
      "post" : {
        "tags" : [ "restriction_hints" ],
        "summary" : "Получение ограничений по международным заказам",
        "description" : "Метод предназначен для получения ограничений по направлению и тарифу для международного заказа.",
        "operationId" : "checkPackagesRestrictions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RestrictionHintsRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestrictionHintsResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/delivery/estimatedIntervals" : {
      "post" : {
        "tags" : [ "schedule" ],
        "summary" : "Получение интервалов доставки до создания заказа",
        "description" : "Метод позволяет получить доступные интервалы доставки \"до двери\" до создания заказа, тем самым предоставляя возможность рассчитать доступные слоты для регистрации договоренности о доставке заранее, в зависимости от направления и выбранного тарифа. Если в total_count передано значение доставок, например, равное 100, а в agreed_count количество согласованных доставок - 98, это означает, что данном интервале осталось два доступных слота для регистрации договоренности о доставке. После того как все доступные слоты будут заняты, данный интервал станет недоступен для регистрации договоренности.",
        "operationId" : "getEstimatedIntervals",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EstimatedDeliveryIntervalsRequestDto"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EstimatedDeliveryIntervalsResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/calculator/tarifflist" : {
      "post" : {
        "tags" : [ "calculator" ],
        "summary" : "Расчет по доступным тарифам",
        "description" : "Метод используется клиентами для расчета стоимости и сроков доставки по всем доступным тарифам.",
        "operationId" : "tariffList",
        "parameters" : [ {
          "name" : "developer-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CalculatorTariffListRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculatorTariffListResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/calculator/tariff" : {
      "post" : {
        "tags" : [ "calculator" ],
        "summary" : "Расчет по коду тарифа",
        "description" : "Метод используется для расчета стоимости и сроков доставки по конкретному коду тарифа по указанному направлению с учетом весо-габаритных характеристик груза. В ответе предоставляется информация о доступных тарифах, их стоимости и сроках доставки. \nВ данном методе возможно произвести расчет стоимость доставки с учетом стоимости дополнительных услуг.",
        "operationId" : "tariff",
        "parameters" : [ {
          "name" : "developer-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CalculatorRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculatorResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/calculator/tariffAndService" : {
      "post" : {
        "tags" : [ "calculator" ],
        "summary" : "Расчет по доступным тарифам и дополнительным услугам",
        "description" : "Метод используется клиентами для расчета стоимости и сроков доставки по доступным тарифам, с учётом переданных дополнительных услуг.",
        "operationId" : "tariffWithServices",
        "parameters" : [ {
          "name" : "developer-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CalculatorTariffWithServicesRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculatorTariffWithServicesListResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/registries" : {
      "get" : {
        "tags" : [ "registries" ],
        "summary" : "Получение информации о реестрах НП",
        "description" : "Метод предназначен для получения информации о реестрах наложенных платежей, по которым клиенту был переведен наложенный платеж в заданную клиентом дату. Доступна информация только о тех документах, которые были созданы после даты первой авторизации по ключам интеграции (активации учетной записи интеграции). Документы, созданные в период деактивации учетной записи, после повторной активации доступны не будут",
        "operationId" : "getRegistries",
        "parameters" : [ {
          "name" : "date",
          "in" : "query",
          "description" : "Дата, за которую необходимо вернуть реестры наложенных платежей, по которым был переведен наложенный платеж.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "date"
          },
          "example" : "2024-05-21"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistriesResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/photoDocument/{uuid}" : {
      "get" : {
        "tags" : [ "photo" ],
        "summary" : "Скачивание готового архива",
        "description" : "Метод используется для скачивания готового архива с фото документов в zip-формате по заказу. Для скачивания архива, необходимо выполнить GET-запрос с авторизацией по ссылке, полученной в ответе метода \"Получение заказов с готовыми фото\", и сохранить тело ответа как файл.",
        "operationId" : "getPhotoDocument",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "description" : "Идентификатор сформированной ссылки",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "Not Found"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "502" : {
            "description" : "Bad Gateway"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/passport" : {
      "get" : {
        "tags" : [ "passport" ],
        "summary" : "Получение информации о паспортных данных",
        "description" : "Метод используется для получения информации о паспортных данных (сообщает о готовности передавать заказы на таможню) по международным заказу/заказам.",
        "operationId" : "getPassport",
        "parameters" : [ {
          "name" : "cdek_number",
          "in" : "query",
          "description" : "Номер заказа",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : 1000014101
        }, {
          "name" : "order_uuid",
          "in" : "query",
          "description" : "UUID заказа",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : "72753031-e66b-4146-ab8c-52179ef4020a"
        }, {
          "name" : "client",
          "in" : "query",
          "description" : "Клиент, по которому будет выведена информация о паспортных данных.<br>\nЕсли значение не передано, то информация о паспортных данных будет выводиться и по отправителю, и по получателю.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : "SENDER, RECEIVER, ALL"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PassportResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/deliverypoints" : {
      "get" : {
        "tags" : [ "delivery_point" ],
        "summary" : "Получение списка офисов",
        "description" : "Метод предназначен для получения списка действующих офисов СДЭК.<br>\n<br>\nМы не рекомендуем использовать статичный список офисов, т.к. в этом случае офисы могут быть неактуальны.<br>\nРекомендуем делать запрос к методу и обновлять список офисов раз в сутки для корректного отображения актуального списка ПВЗ и постаматов.",
        "operationId" : "getDeliverypoints",
        "parameters" : [ {
          "name" : "code",
          "in" : "query",
          "description" : "Код ПВЗ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255
          },
          "example" : "NSK1"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Тип офиса. Принимает значения \"POSTAMAT\", \"PVZ\", \"ALL\". При отсутствии параметра принимается значение по умолчанию «ALL».",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ "POSTAMAT", "PVZ", "ALL" ]
          },
          "example" : "PVZ"
        }, {
          "name" : "postal_code",
          "in" : "query",
          "description" : "Почтовый индекс города, для которого необходим список офисов",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255
          },
          "example" : 630000
        }, {
          "name" : "city_code",
          "in" : "query",
          "description" : "Код населенного пункта СДЭК (метод \"Список населенных пунктов\")",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "int32"
          },
          "example" : 270
        }, {
          "name" : "country_code",
          "in" : "query",
          "description" : "Код страны в формате ISO_3166-1_alpha-2 (см. “Общероссийский классификатор стран мира”)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 2,
            "minLength" : 2
          },
          "example" : "RU"
        }, {
          "name" : "region_code",
          "in" : "query",
          "description" : "Код региона СДЭК",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "int32"
          },
          "example" : 5
        }, {
          "name" : "have_cashless",
          "in" : "query",
          "description" : "Наличие терминала оплаты. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "have_cash",
          "in" : "query",
          "description" : "Есть прием наличных. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "allowed_cod",
          "in" : "query",
          "description" : "Разрешен наложенный платеж. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "is_dressing_room",
          "in" : "query",
          "description" : "Наличие примерочной. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "weight_max",
          "in" : "query",
          "description" : "Максимальный вес в кг, который может принять офис (значения больше 0 - передаются офисы, которые принимают этот вес; 0 - офисы с нулевым весом не передаются; значение не указано - все офисы)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 10
        }, {
          "name" : "weight_min",
          "in" : "query",
          "description" : "Минимальный вес в кг, который принимает офис (при переданном значении будут выводиться офисы с минимальным весом до указанного значения)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 5
        }, {
          "name" : "length",
          "in" : "query",
          "description" : "Длина грузоместа в см, планируемого к отправке. Фильтрация всегда допускает поворот груза, поэтому даже при одном переданном параметре (габарите груза) достаточно, чтобы хотя бы одно из трёх ограничений офиса было не меньше этого значения или отсутствовало. Если не передан ни один из параметров (length, width, height) - возвращается весь список офисов.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 10
        }, {
          "name" : "width",
          "in" : "query",
          "description" : "Ширина грузоместа в см, планируемого к отправке. Фильтрация всегда допускает поворот груза, поэтому даже при одном переданном параметре (габарите груза) достаточно, чтобы хотя бы одно из трёх ограничений офиса было не меньше этого значения или отсутствовало. Если не передан ни один из параметров (length, width, height) - возвращается весь список офисов.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 10
        }, {
          "name" : "height",
          "in" : "query",
          "description" : "Высота грузоместа в см, планируемого к отправке. Фильтрация всегда допускает поворот груза, поэтому даже при одном переданном параметре (габарите груза) достаточно, чтобы хотя бы одно из трёх ограничений офиса было не меньше этого значения или отсутствовало. Если не передан ни один из параметров (length, width, height) - возвращается весь список офисов.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 10
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Локализация офиса.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "default" : "rus"
          },
          "example" : "rus"
        }, {
          "name" : "take_only",
          "in" : "query",
          "description" : "Является ли офис только пунктом выдачи. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "is_handout",
          "in" : "query",
          "description" : "Является пунктом выдачи. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "is_reception",
          "in" : "query",
          "description" : "Есть ли в офисе приём заказов. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "is_marketplace",
          "in" : "query",
          "description" : "Офис для доставки \"До маркетплейса\". Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "is_ltl",
          "in" : "query",
          "description" : "Работает ли офис с LTL (сборный груз). Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "ltl_acceptance_partners",
          "in" : "query",
          "description" : "Принимает заказы LTL, которые будут доставляться партнерами. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "ltl_issuance_partners",
          "in" : "query",
          "description" : "Выдает заказы LTL, которые были доставлены партнерами. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "fulfillment",
          "in" : "query",
          "description" : "Офис с зоной фулфилмента. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "fias_guid",
          "in" : "query",
          "description" : "Код города ФИАС",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "uuid"
          },
          "example" : "e33970a6-0db6-4e35-832c-cc3312a1833e"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Ограничение выборки результата (размер страницы)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 1000
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Номер страницы выборки результата",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 2
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Current-Page" : {
                "style" : "simple",
                "explode" : false,
                "schema" : { }
              },
              "X-Total-Elements" : {
                "style" : "simple",
                "explode" : false,
                "schema" : { }
              },
              "X-Total-Pages" : {
                "style" : "simple",
                "explode" : false,
                "schema" : { }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OfficeDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/deliverypoints/byPolygons" : {
      "get" : {
        "tags" : [ "delivery_point" ],
        "summary" : "Получение списка офисов внутри прямоугольника координат",
        "description" : "Метод позволят получить список офисов, входящих в область прямоугольника на карте по координатам этого прямоугольника (координаты верхней правой точки, координаты нижней левой точки).",
        "operationId" : "byPolygons",
        "parameters" : [ {
          "name" : "latitude_right_top",
          "in" : "query",
          "description" : "Широта верхней правой точки прямоугольника (в формате 6 знаков после запятой). Может принимать значения в диапазоне [-90, 90].",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "double"
          },
          "example" : 56.148495
        }, {
          "name" : "longitude_right_top",
          "in" : "query",
          "description" : "Долгота верхней правой точки прямоугольника (в формате 6 знаков после запятой). Может принимать значения в диапазоне [-180, 180].",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "double"
          },
          "example" : 36.526617
        }, {
          "name" : "latitude_left_bottom",
          "in" : "query",
          "description" : "Широта нижней левой точки прямоугольника (в формате 6 знаков после запятой). Может принимать значения в диапазоне [-90, 90].",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "double"
          },
          "example" : 56.148495
        }, {
          "name" : "longitude_left_bottom",
          "in" : "query",
          "description" : "Долгота нижней левой точки прямоугольника (в формате 6 знаков после запятой). Может принимать значения в диапазоне [-180, 180].",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "double"
          },
          "example" : 36.526617
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Тип офиса. Принимает значения \"POSTAMAT\", \"PVZ\", \"ALL\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ "POSTAMAT", "PVZ", "ALL" ]
          },
          "example" : "PVZ"
        }, {
          "name" : "city_uuid",
          "in" : "query",
          "description" : "Идентификатор города в ИС СДЭК",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "uuid"
          },
          "example" : "34c7352b-1dfa-4827-8614-9710fb326513"
        }, {
          "name" : "have_cashless",
          "in" : "query",
          "description" : "Наличие терминала оплаты. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "have_cash",
          "in" : "query",
          "description" : "Есть прием наличных. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "allowed_cod",
          "in" : "query",
          "description" : "Разрешен наложенный платеж. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "is_dressing_room",
          "in" : "query",
          "description" : "Наличие примерочной. Может принимать значения:<br>\n«1», «true» - есть;<br>\n«0», «false» - нет.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ true, false ]
          },
          "example" : true
        }, {
          "name" : "weight_max",
          "in" : "query",
          "description" : "Максимальный вес в кг, который может принять офис (значения больше 0 - передаются офисы, которые принимают этот вес; 0 - офисы с нулевым весом не передаются; значение не указано - все офисы)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 10
        }, {
          "name" : "weight_min",
          "in" : "query",
          "description" : "Минимальный вес в кг, который принимает офис (при переданном значении будут выводиться офисы с минимальным весом до указанного значения)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "format" : "int32"
          },
          "example" : 5
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Локализация офиса.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "default" : "rus"
          },
          "example" : "rus"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OfficeDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/check" : {
      "get" : {
        "tags" : [ "receipt" ],
        "summary" : "Получение информации о чеках",
        "description" : "Метод используется для получения информации о чеке по заказу или за выбранный день.",
        "operationId" : "getCheck",
        "parameters" : [ {
          "name" : "order_uuid",
          "in" : "query",
          "description" : "Идентификатор заказа в ИС СДЭК, по которому необходимо получить чек. Обязательно, если не переданы остальные параметры",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : "72753031-e66b-4146-ab8c-52179ef4020a"
        }, {
          "name" : "cdek_number",
          "in" : "query",
          "description" : "Номер заказа СДЭК, по которому необходимо получить чек. Обязательно, если не переданы остальные параметры",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : 1000014101
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "Дата создания чека в формате yyyy-MM-dd. Обязательно, если не переданы остальные параметры",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { },
          "example" : "2000-10-31"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/calculator/alltariffs" : {
      "get" : {
        "tags" : [ "calculator" ],
        "summary" : "Список доступных тарифов",
        "description" : "Метод позволяет получить список всех доступных и актуальных тарифов по договору.",
        "operationId" : "availableTariffs",
        "parameters" : [ {
          "name" : "X-User-Lang",
          "in" : "header",
          "description" : "Язык вывода информации о тарифах. <br>Возможные значения: rus, eng, zho. <br>По умолчанию - rus",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        }, {
          "name" : "developer-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculatorAvailableTariffsResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplifiedResponseDto1"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/v2/webhooks" : {
      "get" : {
        "tags" : [ "webhook" ],
        "summary" : "Получение информации о подписках на вебхуки",
        "description" : "Метод предназначен для получения информации о всех активных подписках интернет-магазина на получение вебхуков.",
        "operationId" : "getAll",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/WebhookDto"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "webhook" ],
        "summary" : "Добавление подписки на вебхуки",
        "description" : "Метод предназначен для подключения подписки на отправку на URL клиента событий, связанных с заказом. Существуют следующие типы подписок:<br>• об изменении статуса заказа<br>• о готовности печатной формы<br>• получение информации о закрытии преалерта<br>• получение информации об изменении доступности офиса<br>• получение информации об изменении заказа<br>• получение информации о транспорте для СНТ<br>• получение информации об изменении договоренности о доставке<br>• получение информации о проблемах доставки по заказу<br>• получение информации о курьере<br>• получение фото документов по заказам<br>Если у клиента уже есть подписка с указанным типом, то будет создана еще одна подписка с таким же типом.",
        "operationId" : "create_v2_webhooks",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WebhookDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseDtoWebhookResponseDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
[...]
